* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* ========================= BACKGROUND */

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
    background: url(./nieb.jpg) no-repeat center center;
    background-size: cover;
}

/* ========================= NAGŁÓWKI I PARAGRAFY */

h1 {
    text-align: center;
    margin: 20px 0;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    color: white;
    padding: 20px;
}

p {
    padding: 1em;
}

p a {
    color: white;
}

/* ========================= HEADER */

header {
     z-index: 100;
     margin-top: 20px;
     padding: 0 30px;
     box-sizing: border-box;
     width: 100vw;
     height: 50px;
     position: fixed;
     display: flex;
     text-shadow: 0 0 5px black;
 }

.logo {
     background-color:#481456;
     opacity: 0.8;
     height: 100%;
     width: 20%;
     min-width: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 10px #481456;
 }

.logo > p {
    font-style: italic;
    font-weight: 700;
    color:cornsilk;
    font-size: 1.3rem;
}

/* ========================= NAWIGACJA */

.navbar {
    margin-left: 5%;
    width: 75%;
    height: 100%;
}

.navbar ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list_item {
    background-color: #4D438C;
    opacity: 0.8;
    width: 24%;
    height: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 550;
    display: flex;
    box-shadow: 0 0 10px #4D438C;
}

.list_item a {
    text-decoration: none;
    color: #FDFAFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.list_item a:hover {
    background-color:#AF3FBD;
    color: #12001b;
    text-shadow: 0 0 10px white;
    box-shadow: 0 0 50px #AF3FBD;
}


/* ========================= SEKCJE */

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 5%;
    width: 75%;
    background-color: rgba(136,129,181, 0.3);
    color: white;
    text-shadow: 0 0 15px black;
    box-shadow: 0 0 100px white;
}

.box p {
    line-height: 1.5rem;
}




/* ========================= SEKCJA 2 */


.square_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(159,89,159, 0.5);
    box-shadow: 0 0 20px rgb(159,89,159);
    transition: 1s;
}

.square:hover {
    transform: scale(1.1, 1.1);
    background-color: rgba(199,109,199, 0.5);
    box-shadow: 0 0 100px rgb(199,109,199);
}

.square p {
    margin-top: 20px;
}

            /* ===== KÓŁKO W KWADRACIE */



.circle {
    width: 80%;
    height: 80%;
    background-color: rgba(56, 36, 107, 0.6);
    box-shadow: 0 0 10px rgb(56, 36, 107);
    transition: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    cursor: pointer;
}

.circle:hover {
    background-color: rgba(76, 43, 127, 0.6);
    box-shadow: 0 0 50px rgb(56, 36, 107);
    border-radius: 50%;
}

.obrazek {
    width: 90%;
    height: auto;
    margin-top: 10px;
    opacity: 0.6;
    transition: 1s;
}

.square_with_image:hover {
    transform: scale(2, 2);
}

.square_with_image:hover .obrazek{
    opacity: 1;
}



/* =========================== FOOTER */

footer {
    margin-top: 200px;
    width: 100vw;
    height: 150px;
    box-shadow: 0 0 50px white;
}

.footer_border_top {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1),  rgba(0, 0, 0, 0.8));
}

.footer_box {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}


